@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

h1 {
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
